<div>
  <h1>{{ vm.name }}</h1>

  <table class="table">
    <tr>
      <th>Sort</th>
      <th>Location</th>
      <th>Size left</th>
      <th>Image</th>
    </tr>
    <tr ng-repeat="cake in vm.cakeList">
      <td>{{cake.type}}</td>
      <td>{{cake.location}}</td>
      <td>{{cake.sizeLeft}}</td>
      <td><img src="" alt="image"></td>
    </tr>

    <!--Append as last table row-->
    <!--
    <tr ng-if="vm.newCake.typeInput !== '' || vm.newCake.locationInput !== '' || vm.newCake.sizeInput !== ''">
      <td>{{vm.newCake.typeInput}}</td>
      <td>{{vm.newCake.locationInput}}</td>
      <td>{{vm.newCake.sizeInput}}</td>
      <td><img src="" alt="image"></td>
    </tr>
    -->
  </table>
</div>
